.genre {
	margin-left: 5px;
	font-size: 10px !important;
}

.genres {
	min-height: 72px;
}

@media only screen and (max-width: 600px) {
	.genres {
		min-height: 24px;
	}
}

.App {
	background-image: url('./img/dark-wood.jpg');
	background-repeat: repeat;
	min-height: 100vh;
	text-align: center;
	min-width: 90vw;
}

.single-movie-card {
	filter: drop-shadow(0 0 2rem rgb(0, 0, 0));
	max-width: 1000px;
	/* background-color: white !important; */
	border-radius: 20px;
	overflow: hidden;
	background-color: transparent;
	/* display: inline-block; */
}

.movie-description {
	padding: 20px;
	letter-spacing: 0.3px;
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
	color: white;
}

.site-title {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 40px;
	letter-spacing: 0.4px;
	word-spacing: 1px;
	background: -webkit-linear-gradient(rgb(252, 255, 101), rgb(255, 65, 65));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 5px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	font-style: italic;
	font-variant: small-caps;
	text-transform: none;
	/* text-shadow: 2px 2px #ffffff; */
}

.movie-title {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 40px;
	letter-spacing: 0.4px;
	word-spacing: 1px;
	background: -webkit-linear-gradient(rgb(120, 209, 168), rgb(84, 75, 131));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 5px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	font-style: italic;
	font-variant: small-caps;
	text-transform: none;
	text-shadow: -2px -2px rgb(255, 255, 255);
}

.tagline {
	color: white;
	font-style: italic;
	font-size: 25px;
	padding: 10px;
}

.score {
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 0 white;
	padding: 4px 8px !important;
	font-size: 30px !important;
}

.left-side {
	/* padding: 20px !important; */
	/* filter: drop-shadow(0 0 2rem rgb(0, 0, 0));	*/
	/* border: 2px solid black; */
}

.right-side {
	padding: 0 25px !important;
}
.movie-pic {
	border: 1px solid white;
	/* margin: 15px; */
	border-top-left-radius: 30px;
	filter: drop-shadow(12px 12px 12px rgb(0, 0, 0));
	border-bottom-left-radius: 30px;

	/* border-radius: 20px; */
}

.shine-single {
	background-color: #ccc;
	border: 3px solid transparent;
	text-align: center;
	margin: 15px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.languages {
	color: white;
	text-align: left;
}

hr.style-four {
	height: 12px;
	border: 0;
	color: white;
	box-shadow: inset 0 2px 2px -2px rgba(255, 255, 255, 1);
}

.card-content {
	padding: 5px;
	color: white;
}

/*shine */

.shine {
	position: relative;
	overflow: hidden;
	transition: opacity 1s ease-in-out;
}

.shine:after {
	transition-duration: 0.5s;
	content: '';
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);

	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.shine:hover:after {
	opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 1s;
	transition-timing-function: ease;
}

.shine:active:after {
	opacity: 0;
}

/*   */

.top-right-badge {
	position: absolute;
	right: 5px;
	padding: 5px !important;
	top: 5px;
}

.movie-card {
	/* filter: drop-shadow(0 0 10px rgb(0, 0, 0)); */
	position: relative;
	transition-duration: 0.5s;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
	/* width: 80%;
	height: 90%; */
}

.cards-body {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: rgb(29, 27, 31);
	background: linear-gradient(133deg, rgba(29, 27, 31, 1) 0%, rgba(85, 85, 85, 1) 50%, rgba(139, 84, 6, 1) 100%);
}
.cards-img-div {
	width: 200px;
	height: 300px !important;
	overflow: hidden;
}

@media only screen and (min-width: 1200px) {
	.movie-card:hover {
		transform: scale(1.2, 1.2);
		transition-duration: 0.5s;
	}

	.flex-basis-card {
		width: 280px;
		height: 480px;
	}
}

@media only screen and (max-width: 1199px) {
	.flex-basis-card {
		margin: 20px;
	}
}

.cards-body {
	width: 200px;
	height: 60px;
	background-color: white;
}

.cards-img {
	width: 200px;
	height: auto;
}

.flexfix {
	visibility: hidden;
	height: 0;
	width: 280px;
	padding: 0;
	margin: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}
